div {
  &.dark {
    > lottus-rich-text {
      > markdown{
        * {
          color: white;
          @apply font-Nunito-Sans font-normal;
        }
      }
    }
  }
  &.light {
    > lottus-rich-text {
      > markdown{
        * {
          color: black;
          @apply font-Nunito-Sans font-normal;
        }
      }
    }
  }
  &.transparent {
    > lottus-rich-text {
      > markdown{
        * {
          color: black;
          @apply font-Nunito-Sans font-normal;
        }
      }
    }
  }
}